.btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
}

.btn-modal {
    width: 101px;
    height: 41px;
}
