.list {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 0;

    &-text {
        color: #515151;
        font-weight: 400;
        margin: 0;
        font-size: 20px;
        padding: 30px;
    }
}

.list-column {
    grid-template-columns: 1fr;
    padding: 0;
}

.btn-toggle {
    width: 70px;
    height: 31px;
    margin-left: auto;
    margin-top: 40px;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    
}